extends layout

block head
  // script(src=host + "/assets/modules/channel-web/inject.js")
  
block content
  h1= title
  p Host is #{host}
  
  
  script  var _host = "#{host}"; 
  script(type="text/javascript").
    
    const HOST_URL = _host;

    //- (function(w, d, s, u) {
    //-   w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
    //-   var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
    //-   j.async = true; j.src = HOST_URL + '/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';
    //-   h.parentNode.insertBefore(j, h);
    //- })(window, document, 'script', HOST_URL + '/livechat');
    //- <!-- Start of Rocket.Chat Livechat Script -->

    (function(w, d, s, u) {
      w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
      var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
      j.async = true; j.src = HOST_URL + '/livechat/1.0.0/rocketchat-livechat.min.js?_=201903270000';
      h.parentNode.insertBefore(j, h);
    })(window, document, 'script', HOST_URL + '/livechat?version=1.0.0');
